<div ng-include=" 'partials/sidebar.html' "></div>
<div class="col-md-8 col-md-offset-2 exercise">
<h3>Needing Some Inspiration to Spice up that Gym Session?</h3>
<h4>The buttons below allow you to filter exercises by the listed categories.</h4>
</div>
<div class="row">
<div class="col-md-3 searchCard hoverable">
	<h3>Filter by Equipment Needed</h3>
	<p>Whips? Chains? Handcuffs? Nope, not that kind of party. Search for exercises that require dumbbells, barbells, kettlebells, and, well, yes, even chains...</p>
	<input type="text" placeholder="Your weapon of choice" ng-model="equipment">
	<button class="btn btn-primary" ng-click="findByEquipment()">Get 'er done!</button>	
</div>
<div class="col-md-3 searchCard">
	<h3>Filter by Muscle Group</h3>
	<p>So you want guns? Filter by "biceps". Lats of steel? Search "lats". Thighs to crush glass? Go ahead and look for "hamstrings" or "quadriceps".</p>
	<input type="text" ng-model="muscle" placeholder="That body part you think is weak...">
	<button class="btn btn-primary" ng-click="getMuscleExercises()">Help me out!</button>
</div>
<div class="col-md-3 searchCard">
<h3>Filter By Exercise Name</h3>
	<p>You can also enter the name of an exercise if you'd like to see how it's done. Enter the search term below.</p>
	<input type="text" ng-model="searchTerm">
	<button class="btn btn-primary" ng-click="findByName()">Find it!</button>
</div>
<br/>

	<div class="col-md-3" ng-repeat="item in exercises">
	<div class="card hoverable">
		<p>The Move: {{item.exercise}}</p>
		<img src="{{item.image}}">
		<p>You'll need: {{item.equipment}}</p>
		<p>Muscle Worked: {{item.muscle}}</p>
		<button class="btn btn-primary" ng-click="save()">Save This</button>
	</div>
</div>
</div>
