<h3>Here's what you thought you were able to do. If you haven't yet, go do it. There's a handy print button to make that easier for you. If you have done it, then record your stats. If a workout is done and there's no record, did you do it? Jus' sayin...</h3>

<div class="printDiv">
	<div ng-repeat="item in planObj">
		<h3>{{item.exercise}}</h3>
		<p>Muscle Group: {{item.muscle}}</p>
		<p>Show Me: <a href={{item.info}}>{{item.info}}</a></p>
	</div>
	<div>
		<button ng-click="printMe()">Print This Page</button>
		<button ng-click="delete()">Nah, not this one.</button>
	</div>
</div>

	<div ng-repeat="item in planObj">
		<img src="{{item.image}}">
	</div>
</div>