<div ng-include=" 'partials/sidebar.html' "></div>
<div class="container">
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <ul>
                <li>
                    <h1>LiftHeavy.com</h1>
                    <h2 class="h1-responsive">Made to answer the question: "Do you even lift?"</h2></li>
                <li>
                    <p>Of course you do. That's why you're here. You're the gym rat that's looking for a way to take the heavy lifting out of workout planning. Well, you've found it. LiftHeavy is your one stop shop for finding exercises, either by body part, equipment, or name, creating workout plans, by day or week, and tracking your progress with our nifty charts.</p>
					<p>These services are completely free to use because, well, we're lifters too and we feel your pain. You can browse the site to find exercises, but if you're looking to actually track your progress with our downloadable workout sheets, upload your finished workout information, and track your progress, you'll need to create an account. It's an easy progress that you can do with either Google or your regular email, if you don't have Gmail. We'll walk you through the getting started process, but, if you ever need a spotter, check out the About Us page for contact info. </p>
                </li>
                <h2>Click below to see a sample of what's in our database. </h2>
                <li>
                    <a ng-click="getSample()" class="btn btn-primary btn-lg">Random Sample</a>
                    <a ng-click="getByMuscle()" class="btn btn-primary btn-lg">Sample By Muscle Group</a><a ng-click="getByEquipment()" class="btn btn-primary btn-lg">Sample by Equipment - Bodyweight</a>
                </li>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="cardDiv col-md-4" ng-repeat="lift in movements">
                            <img src="{{lift.image}}">
                            <hr>
                            <div class="cardContent">
                                <h4>The Move: {{lift.exercise}}</h4>
                                <!--Text-->   
                                <p>You'll need: {{lift.equipment}}</p>
                                <p>Muscle Worked: {{lift.muscle}}</p>
                                <button class="btn btn-primary" ng-click="save()">Save This</button>
                            </div>
                        </div>
                    </div>
                </div>        
                
            </ul>
        </div>
    </div>
</div>

             

